*{
    overflow-x: hidden;
}
html{
    height: 100vh;
    margin: 0px;width: 0px;
    color: rgb(34, 29, 29);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: grid;
    grid-template-areas: 
         "topbar topbar  topbar"
         "ads    content sidebar"
         "footer footer  footer";
    grid-template-columns: 1fr 4fr 0fr;
    grid-template-rows: 10px auto 70px;
    /* for setting the height of the rows to 50px ,auto and 70px respectively */
    align-items:center;
    justify-items:center;
    width:"100%";
    /* to justify items and center them*/
}

header  { grid-area: topbar;width:95%; height:auto;padding:8px;margin-bottom: 2rem; border:2px solid black;}
aside { grid-area: ads;}
article { grid-area: content;}
nav { grid-area: sidebar;}
footer { grid-area: footer;}

#answer input{
    display: block;
    width:9cm;
}
button{
    background-color: rgb(48, 43, 43);
    color: white;
    padding: 4px 9px;
}
textarea{
    resize:none;
    width: 10cm;
    height: 3cm;
}