html{
    height: 100vh;
    margin: 0px;width: 0px;
    color: rgb(34, 29, 29);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: grid;
    grid-template-areas: 
    "topbar topbar1  topbar1"
    "ads    content sidebar"
    "footer footer  footer";

    grid-template-columns: 1fr 3fr 1fr;
    /* for making the columns 1 fraction ,3fractions and 1 fractions of the total width respectively */
    grid-template-rows: 50px auto 70px;
}
header  { grid-area: topbar1;}
aside { grid-area: ads;}
article { grid-area: content;}
nav { grid-area: sidebar;}
footer { grid-area: footer;}


form button{
    color: rgb(255, 255, 255); padding: 7px 12px 8px 13px; background-color: rgb(61, 67, 66);
}

article input{
    padding: 6px 7px 6px 7px; width:9cm; display: block; margin-bottom: 5px;
}
form input{
    padding: 6px 7px 6px 7px; 
}
footer input{
    padding: 6px 7px 6px 7px; width:9cm; display: block; margin-bottom: 5px;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 2px;
    padding: 1.4rem 9rem;
}