<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Adivina-ADMIN</title>
    <link rel="stylesheet" href="admin.css">
  </head>
  <body>
    <main>
      <header>
        {{info}}
      </header>
      <article>
        <form action="/admin/{{room}}/{{name}}/add" method="post">

          <div class="h3 ">
          <h4 name="room">{{room}}</h4>
          <h4 name="name">{{name}}</h4>
          </div>

          <div class="">
            <h4><p>Add Question</p></h4>
          <textarea name="question" placeholder="Type your question "  id="" rows="6"></textarea>
          <button style=" color:#fff;background-color: rgb(61, 67, 66);">post question</button>
          </div>
        </form>
      </article>
    </main>  
  </body>