main{
    display: grid;
    grid-template-areas: 
         "topbar topbar  topbar"
         "ads    content sidebar"
         "footer footer  footer";
    grid-template-columns: 1fr 4fr 0fr;
    /*for making the columns 1 fraction ,3fractions and 1 fractions of the total width respectively*/
    grid-template-rows: 50px auto 70px;
    /* for setting the height of the rows to 50px ,auto and 70px respectively */
    align-items:center;
    justify-items:center;
    /* to justify items and center them*/
}


header  { grid-area: topbar;}
aside { grid-area: ads;}
article { grid-area: content;}
nav { grid-area: sidebar;}
footer { grid-area: footer;}

#answer input{
    
}