<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Adivina</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <p style="position: relative; left: 161px; top: 89px;">Add Question</p><p>
      </p><form action="/question/add" method="post">
        <input type="text" name="room" style="position: relative; left: 158px; top: 114px; margin: 4px 0px;">
        <input type="text" name="admin" style="position: relative; left: -24px; top: 170px;">
        <input type="text" name="question" style="position: relative; left: -206px; top: 228px;">
        <button style="position: relative; left: -388px; top: 302px;">Add Question</button>
      </form>
    </body>