<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Adivina</title>
    <link rel="stylesheet" href="answer.css">
  </head>
  <body>
    <main>
    <aside>
      <p>Get Question<p>
        <form action='/question/get' method="post">
          <input type="text" name="room"></input>
          <input type="text" name="index"></input>
          <button>Get Question</button>
        </form>
    </aside>
    <article>
      <p>Answer Question<p>
        <form id="answer" action='/question/answer' method="post">
          <input type="text" name="room"></input>
          <input type="text" name="name"></input>
          <input type="text" name="index"></input>
          <input type="text" name="answer"></input>
          <button>Answer Question</button>
        </form>
    </article>
  </main>
  </body>
