html{
    height: 100vh;
    margin: 0px;width: 0px;
    color: rgb(34, 29, 29);
    width: 100%;
}
main{
    display: grid;
    grid-template-areas: 
         "topbar topbar  topbar"
         "ads    content sidebar"
         "footer footer  footer";
    grid-template-columns: 1fr 3fr 1fr;
    /*for making the columns 1 fraction ,3fractions and 1 fractions of the total width respectively*/
    grid-template-rows: 50px auto 70px;
    /* for setting the height of the rows to 50px ,auto and 70px respectively */
    /* 0px gap between the rows and 50px gap between the columns */
    align-items:center;
    justify-items:center;
    /* to justify items and center them*/
}
.nav{grid-area: topbar;}
aside { grid-area: ads;}
article { grid-area: content;}
nav { grid-area: sidebar;}
footer { grid-area: footer;}