<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Adivina</title>
    <link rel="stylesheet" href="../static/home.css">
  </head>
  <body class="mt" style=" color: rgb(0, 0, 0); background-color: rgb(247, 248, 247);">

      <main>
      <div class="detail">
        <h3>{{info}}</h3>
        <h3>Room Name: {{name}}</h3>
        <h3>Secret Key: {{admin}}</h3>
        <h3>Room Code: {{room}}</h3>
        
      </div>
      <br>

        <article class="shadow">
          <h3>Teacher panel</h3>
          <form action="/home" method="post">
            <input placeholder="Enter Your Room Name (VISIBLE TO ALL)" type="text" name="name">
            <input placeholder="Enter Your Secret Key (Don't Share)" type="text" name="admin">
            <input title="Starting of the Roll No in Number i.e 1, 2, 3" placeholder="Enter the starting roll number" type="number" min="1" name="start">
            <input title="Ending of the Roll No in Number i.e 2, 3, 4 should be greater than starting point" placeholder="Enter the ending roll number" type="number" max="100" name="end">    
            <button style="color:#fff; background-color: rgb(61, 67, 66);">Create Room</button>
          </form>
        </article>
       
      <br>
      <header >
        <form action="/admin" method="post">
          <input name="room" placeholder="Enter the Room Code" type="text">
          <input placeholder="Enter Your Secret Key" name="admin" type="text">
          <button style="color:#fff; background-color: rgb(61, 67, 66);">Join room</button>
        </form>
      </header>
      <br>
      <footer class="shadow">
        <h3>Student panel</h3>
      <form action="/student" method="post">
        <input name="room" placeholder="Enter the Room code" type="text">
        <input name="code" placeholder="Enter your password" type="text">
        <input placeholder="Enter your roll number i.e 1, 2, 3" name="name" type="text" min="1">
        <button style="color:#fff; background-color: rgb(61, 67, 66);">Join room</button>
      </form>
      </footer>
      </main>
    
    <script src="../static/home.js"></script>
  </body>
</html>
