<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Adivina</title>
    <link rel="stylesheet" href="home.css">
  </head>
  <body class="mt" style=" color: rgb(0, 0, 0); background-color: rgb(247, 248, 247);">
      <div class="get">
        <div class="nav">
          <form action="/" method="get">
            <button style="padding: 5px 26px 6px; border-color: rgb(252, 252, 252); background-color: rgb(53, 59, 58); color: rgb(255, 255, 255); ">Home</button>
          </form>
        </div>
        
       <div class="nav2">
        <form action="/generate" method="post">
          <input placeholder="Enter room name" type="text" name="room" style="padding: 4px 5px;">
          <input placeholder="Enter your name" type="text" name="admin" style="padding: 4px 5px;">
          <input placeholder="Enter the starting roll number" type="number" min="1" name="start" style="padding: 4px 5px;">
          <input placeholder="Enter the ending roll number" type="number" max="100" name="end" style="padding: 4px 5px;">    
          <button style="color:#fff;padding: 4px 9px; background-color: rgb(61, 67, 66);">Create Room</button>
      </form>
       </div>
       
    <br>
      <form action="/admin/join" method="post">
      <input name="join" placeholder="Enter your joining code" style="padding: 4px 5px;" type="text">
      <input placeholder="Enter your name" name="name" style="padding: 4px 5px;" type="text">
      <button style="color:#fff;padding: 4px 9px; background-color: rgb(61, 67, 66);">Join room</button>
    </form>
    <br>
    <h5>Student </h5>
    <form action="/student/join" method="post"><input name="join" placeholder="Enter your joining code" style="padding: 4px 5px;" type="text"><input placeholder="Enter your roll number" name="name" style="padding: 4px 5px;" type="number" min="1">
      <button style="color:#fff;padding: 4px 9px; background-color: rgb(61, 67, 66);">Join room</button>
    <div>{{t}}</div>
    
    
    <script src="scripts.js"></script>
  </body>
</html>
