<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Adivina</title>
    <link rel="stylesheet" href="index.css">
  </head>

  <body>
    <nav class="navbar">
      <form action='/' method="get">
        <button>Home</button>
      </form>
      <form class="room" action='/generate' method="post">
        <input type="text" name="room"></input>
        <button>Submit</button>
      </form>
    </nav>
    <br>
    
    

    <br>

    <form action='/join' method="post">
      <p>join code :</p>
      <input id="" type="text" name="join"></input>
      <p>Name :</p>
      <input id="" type="text" name="name"></input>
      <button>Submit</button>
    </form>

    <script src="scripts.js"></script>
  </body>
</html>
