<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Adivina- student panel</title>
    <link rel="stylesheet" href="../static/student.css">
  </head>
  <body>
    <main>
      <article>
        <h4>{{info}}</h4>
        <h4>Room code : {{room}}</h4>
        <h4>Room name : {{name}}</h4>
        <h4>Your Roll No : {{student}}</h4>

        <header>
          <h1>Your Latest Question<h1>
          <h4>{{question}}</h4>
        </header>
        <form action="/{{room}}/{{student}}/{{name}}/answer" method="post">
          <input type="text" name="answer"></input>
          <div><button>Submit Your Answer</button></div>
        </form>
      </article>
  </main>
  </body>
