<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Adivina- student panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">

  </head>
  <body>
    <header>
      <h1>Your Latest Question: <h1>
      <div><p>
        {{question}}
      </p></div>
    </header>
    <main>
      <aside>
        <h4>{{info}}</h4>
        <h4>Room code : {{room}}</h4>
        <h4>Room name : {{name}}</h4>
        <h4>Your Roll No : {{student}}</h4>
      </aside>
      
      <article>
        
        <form action="/{{room}}/{{student}}/{{name}}" method="post">
            <button>UPDATE</button>
        </form>

        
        <h4>Your Latest Answer: {{answer}}</h4>
        <form action="/{{room}}/{{student}}/{{name}}/answer" method="post">
          <textarea type="text" name="answer"></textarea>
          <div><button>Submit Your Answer</button></div>
        </form>
      </article>
  </main>
  </body>